body{
    margin: 0;
    font-family: "Inter", sans-serif;
}

#hero-section{
    background-image: url("images/underwater.jpg");
    background-size: cover;
    height: 500px;
    padding: 10px 0 40px 0;
}

#main{
    margin-top: 3%;
    margin-left: 5%;
    color: white;
}

h1{
    font-size: 48px;
    font-weight: bold;
}